@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-bold {
  font-family: "Quicksand", serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared */
.small-text{
  font-size: 1.4rem;
  font-weight: 400;
}
/* nav */
.nav-info-container-3{
  padding-left: 250px;
}
.minimized-button{
  visibility: hidden;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin: 20px 80px;
}
.nav-h{
  font-size: 2rem;
  font-weight: 700;
}
.nav-info-container-1{
  display: flex;
}
.nav-info-container-2{
  display: flex;
}
.nav-info-container-2 > li{
  list-style-type: none;
  padding: 40px;
  font-size: 1.4rem;
  font-weight: 500;
}
.nav-info-container-2 > li >a{
  
  text-decoration: none;
}
.btn{
  padding: 10px 70px;
  color: white;
  background-color: rgb(254, 163, 1);
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 525;
}
.btn:hover{
  cursor: pointer;
  background-color: orangered;
  
}
/* banner */
#h1-1{
  color: rgb(254, 163, 1);
}
#h1-2{
  color: rgb(1, 172, 253);
}
.banner{
  margin: 40px 80px;
  display: flex;
  gap: 150px;
}
.unq-btn:hover{
  cursor: pointer;
  background-color: rgba(10, 9, 9, 0.856);
}
.unq-btn{
  padding: 10px 60px;
  color: whitesmoke;
  background-color: Black;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 40px;
}
/* .banner-image{padding-left: 1000px;} */
.banner-text{
  padding-top: 70px;
}
.container-text{
  font-size: 1.6rem;
  font-weight: 700;
}
.container-p{
  font-size: .9rem;
  font-weight: 500;
  padding: 20px;
}
.curiculumn-a{
  text-decoration: none;
}
.cu-1{
 border-radius: 19px;
 background-color:white;
 padding-bottom: 30px;
 
 box-shadow: 5px 5px 5px 5px  gray;
}
.curriculumn-container{
  display: flex;
  justify-content: space-around;
  margin: 80px 80px;
  gap: 40px;
  text-align: center;
  padding: 40px;
  background-image: url(B11-A2-Kids-School/assets/bg.png);
  background-size: cover;
  
}
.curiculum-btn:hover{
  cursor: pointer;
  background-color: orange;
}
.curiculum-btn{
  background-color: orangered;
  color: white;
  position: relative;
width: 60px;
height: 60px;
  font-size: 1.6rem;
  font-weight: 900;
  border-radius: 50%;
  align-items: center;
  border: none;
  margin-bottom: 100px;
}
.cu-btn{
  text-align: center;
}
#Curriculum{
  background-image: url(B11-A2-Kids-School/assets/bg.png);
  background-size: cover;

}
.curiculumn-a{
 
 
}
/* story */
.story-header{
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  background-image: url(B11-A2-Kids-School/assets/bg.png);
  padding: 10px;
}

.story-1:hover{
  cursor: pointer;
}
.story-5:hover{
  cursor: pointer;
}
.story-4:hover{
  
  cursor: pointer;
}
.story-3:hover{
  cursor: pointer;
}
.story-2:hover{
  cursor: pointer;
}
.story-btn:hover{
  cursor: pointer;
}
.story-btn{
  font-size: .9rem;
  font-weight: 500;
  padding: 15px 25px;
  width: 15rem;
  border-radius: 48px;
  text-transform: capitalize;
  border: none;
  color: white;
  margin-top: -20px;
  margin-left: 20px;
}
.story-1 , .story-2 , .story-3 , .story-4 , .story-5{
  display: flex;
  flex-direction: column;
}
.story-container{
  margin: 40px 0px 0px auto;
  display: flex;
  gap: 0px;
  flex-wrap: wrap;
  background-image:linear-gradient(to bottom,rgba(255, 255, 255, 0.3),rgb(223, 167, 118));
  /* margin-right: 110px; */
}
.other-story{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  border-radius: 20px; 

}
.story-1>img{
  width: 700px;
}
.story-1{
  padding: 20px;
  background-color: white;
  margin-left: 40px;
  border-radius: 50px;
  margin-bottom: 20px;
}
.story-2{
  background-color: white;
  margin: 10px;
  text-align: center;
  font-weight: 700;
  border-radius: 30px;
}
.story-3{
  background-color: white;
  margin: 10px;
  text-align: center;
  font-weight: 700;
  border-radius: 30px;
}
.story-4{
  background-color: white;
  margin: 10px;
  text-align: center;
  font-weight: 700;
  border-radius: 30px;
}
.story-5{
  background-color: white;
  margin: 10px;
  text-align: center;
  font-weight: 700;
  border-radius: 30px;
}
.story-container-btn{ 
  border-radius:14px ;
  text-align: center;
  margin: 100px auto ;
  background-image: url(B11-A2-Kids-School/assets/bg.png);
  padding-bottom: 100px;
}
.story-container-btn button:hover{
  cursor: pointer;
}
.story-container-btn button{
  background-color: black;
  color: white;
  padding: 16px 45px;
  font-size:1.2rem ;
  font-weight:700 ;
  border-radius: 12px;
  margin-bottom: -100px;
}
/* footer */
*{
  margin: 0;
  
}
footer{
  /* margin-top: 200px; */
  padding-top: 80px;
  padding-left: 30px;
  background-color: lightskyblue;
  display:flex;
  justify-content: space-around;
  gap: 30px;
  padding-bottom: 100px;
  
}
.footer-1-1{
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  width: 206.11px;
  height: 150px;
}
.footer-1-2{
  color: white;
  padding-top: 40px;
  font-size: 1.2rem;
  font-weight: 500;
}
.footer-2{
  color: white;
  flex-direction: column;
  padding-top: 60px;
}
.footer-2-li{
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}
.footer-2 li{
  list-style: none;
}
.footer-2 a{
  text-decoration: none;
  list-style: none;
  color: white;
}
.footer-2 a:hover{
  cursor:pointer
}
.footer-3{
  padding-top: 40px;
}
.footer-3-2{
  padding-top: 40px;
}
@media screen and (max-width:576px) {
  *{
    margin-left: 0px;
    margin-right: 0px;
    
  }
  .navbar{
    margin-top: 0px ;
    margin-bottom: 20px;
    border-bottom: 0.5px solid rgb(254, 163, 1);
    margin-left: 0px;
    padding-right: 547px;
    
  }
  .nav-top-left-1{
    margin-left: 10px;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .nav-top-left-2 , .nav-info-container-2 , .nav-info-container-3{
    display: none;
  }
  .minimized-button{
     align-items: end;
     
  }
  .minimized-button a{
    visibility: visible;
    
    padding-left: 400px;
  }
  /* banner */
  .banner-image{
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
  }
  .banner{
    margin-left: 20px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
  .small-text{
    margin-top: 20px;
  }
  .unq-btn{
    padding: 30px 70px;
    font-size: 1.6rem;
  }
  /* curiculumn */
  .Curriculum{
    text-align: center;
  }
  .curriculumn-container{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    
  }
  .cu-1{
    padding-bottom: 50px;
  }
  .cu-btn {
    display: none;
  }
  .curiculumn-a{
    padding-top: 40px;
  }
  /* stories */
  
  
  .story-1{
    display: none;
    
  }
  .other-story{
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    padding-left: 10px; 
    margin-right: auto;
    padding-right: 0px;
    
    width: 530px;
  }
  .story-2{
    padding-bottom: 20px;   
    margin-left: 0px;
    padding-left: 0px;
    max-width: 80% ;
  }
  .story-3{   
    
    padding-bottom: 20px;   
    margin-left: -10px;
    padding-left: 0px;   
    max-width: 80% ;
  }
  .story-4{    
    padding-bottom: 20px;
    margin-left: 0px;
    padding-left: 0px;
    max-width: 80%;
  }
  .story-5{
    padding-bottom: 20px;
    margin-left: -10px;
    padding-left: 0px;
    max-width: 80%;
  }
  .story-btn{
    padding: 10px 15px;
    margin-bottom:15px ;
    margin-left: 15px;
    max-width: 70%;
  }
  /* footer */
  .footer{
    display: flex;
    flex-direction: column;
  }
  .footer-3-2{
    padding-top: 40px;
    padding-left: 20px;
    display: flex;
    gap: 20px;
  }
  /* .a3-2-1{
    padding-right: 20px;
    padding-left:20px ;
  }
  .a3-2-2{
    padding-right: 20px;
    padding-left: 20px;
  }
  .a3-2-3{
    padding-right: 20px;
    padding-left: 20px;
  }
  .a3-2-4{
    padding-right: 20px;
    padding-left: 20px;
  } */
}
